.changepassword-conteiner {
  background: linear-gradient(to top, #c95da2, #685adf);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;


  & .changepassword {
    background: rgb(231, 231, 231);
    width: 440px;
    margin: 0 auto;
    text-align: center;
    border-radius: 15px;
    padding: 20px 20px 10px 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }
}